* {
  box-sizing: border-box;
}

:root {
  --background: #222;
  --primary: #63a;
  --text: #fff;
  --link: #5bf;
  --link-visited: #ccf;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: #222;
}
main {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0 1rem;
}
html {
  overflow-y: scroll;
}

a:link {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}

header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--primary);
}

h1 {
  text-align: center;
  margin: 0;
}
h1 > a:link {
  color: white;
  text-decoration: none;
}
h1 > a:visited {
  color: white;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

footer {
  font-size: 0.8em;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .backlink {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

footer > .links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0;
}
footer > .links > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
footer a:link {
  text-decoration: none;
  color: white;
}
footer a:visited {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

footer > .links img {
  height: 2.5em;
  color: white;
}
